numpy==2.0.2
opencv-python-headless==4.11.0.86  # Headless version to avoid libGL.so.1 dependency
streamlit==1.42.2
scikit-image==0.25.2  # For hog feature extraction
scikit-learn==1.6.1
tensorflow==2.18.0  # Compatible with Python 3.12.9
matplotlib==3.10.0
pillow==11.1.0  # For PIL (Image processing)
